.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: 1px solid grey;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Noto Serif TC", serif;
  color: #444;
}
section {
  padding: 4% 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
  margin: 1% 0;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #444;
}

header nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 20%;
}
.links {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.box {
  width: 60%;
  border: 1px solid grey;
  height: 100px;
}
.parent {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.hero {
  height: 40vh;
  background-image: url("https://images.unsplash.com/photo-1591677012648-6ce8b9100482?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img {
  width: 26%;
  height: 200px;
  margin: 2% 0;
}
@media (max-width: 500px) {
  .gallery {
    diplay: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .img {
    width: 85%;
  }
}
.one {
  background-image: url("https://images.unsplash.com/photo-1591654817051-1f36ffe42309?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.two {
  background-image: url("https://images.unsplash.com/photo-1591649830160-7c95a610f5ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
}
.three {
  background-image: url("https://images.unsplash.com/photo-1591613678619-6bd5f225abb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
}
.four {
  background-image: url("https://images.unsplash.com/photo-1588774210246-a1dc467758df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
}
.five {
  background-image: url("https://images.unsplash.com/photo-1591685766221-f751d1a4f3ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
}
.six {
  background-image: url("https://images.unsplash.com/photo-1591667817588-57eca58b23c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
}
